@import "compass/reset";
@import "compass/css3";

$noise: url("../images/noise.png");
$body-bg-color: #3D4C53;
$body-bg: $noise, radial-gradient(50% 300px, circle closest-side, lighten($body-bg-color, 10%) 100px, darken($body-bg-color, 10%) 800px) fixed;
$banner-color: #70B7BA;
$banner-bg: $noise, linear-gradient(lighten($banner-color, 10%), darken($banner-color, 10%));
//$banner-title-color: saturate(invert($banner-color), 60%);
$banner-title-color: desaturate(#FFFF00, 10%);
$tabpage-color: #F0F0F0;
$tabpage-bg: $noise, $tabpage-color;
//$tab-bg: linear-gradient(darken($tabpage-color, 20%), darken($tabpage-color, 15%) 70%, $tabpage-color);
$tab-bg: darken($tabpage-color, 20%);
//$tab-bg-active: linear-gradient(darken($tabpage-color, 10%), darken($tabpage-color, 5%) 70%, $tabpage-color);
$tab-bg-active: darken($tabpage-color, 10%);
$table-color1: #E7E1D4;
$table-color2: lighten($table-color1, 9%);

$title-color: #F1433F;
$text-color: #0F0F0F;
//$double-line-color: $banner-color;
$double-line-color: #D0D0D0;

html {
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
body {
	margin: 0 auto;
	font-family: Arial;
	@include background($body-bg);
	color: $text-color;
}

#container {
	background-color: white;
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#header {
	background-color: white;
	position: relative;
	top: 0px;
	left: 0px;
	a {
		color:#000000;
		text-decoration:none;
	}
}

#banner {
	@include background($banner-bg);
	padding: 0.5em 0.5em;
	text-align: center;
	h1 {
		font-size:1.6em;
		color: $banner-title-color;
		@include text-shadow(#333333 2px 2px 1px);
	}
}

#menu {
	margin-top: 0;
	ul {
		margin:0 auto;
		padding:0;
		text-align: center;
	}
	li {
		display: inline-block;
		margin: 0 auto;
		position: relative;
		text-align: center;
	}
	a {
		display: inline-block;
		border: 0px;
		width: 2.4em;
		margin: 0 auto;
		padding: 0.5em 0.5em;
		color:#000000;
		font-size:1.2em;
		font-weight:bold;
		text-decoration:none;

		@include background($tab-bg);
		@include box-shadow(gray 2px 0px 1px);
		@include border-radius(5px);

		&:hover, &.active{
			@include background($tab-bg-active);
		}
	}
}

#content {
	position: relative;
	width:100%;
	font-size: 1em;
	line-height: 1.5em;
	h1, h2 { color: $title-color; }
	h1 {
		font-size:1.5em;
		font-weight:bold;
		margin: 1em 0 0.5em ;
		position: relative;
	}
	h2 {
		font-size:18px;
		font-weight:bold;
		margin: 1em 0 0.5em;
		position: relative;
	}
	img {
		max-width: 100%;
	}
	border-bottom: 6px double $double-line-color;
}

div.tabpage {
	clear: left;
	@include background($tabpage-bg);
	position: relative;
	padding-top: 1em;
	padding: 1em 0.2em 1em;
	ul { list-style: disc; }
	ol { list-style: decimal; }
	ul, ol{ margin-left: 2em; }
	&.inactive {
		display: none;
	}
	a {
		font-weight: bold;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

#footer {
	text-align: center;
	color:#000000;
	font-size:12px;
	width: 100%;
	clear: both !important;
	position: relative;
	a {
		color:#000000;
		text-decoration:none;
	}
}


div.news_clip{
	margin: 30px 0 10px 0;
	@include single-transition(background, 0.3s, ease-in-out);
	&:hover{
		background: #fff;
	}
	.date{
		font-weight: bold;
		//text-decoration: underline;
		margin-bottom: 5px;
	}
}

table{
    width: 100%;
	td.temp{
		color: #f00;
	}
	th {
		font-weight: bold;
	}
	th, td {
		text-align: left;
		vertical-align: middle;
		padding: 2px 1em;
	}
	th { background: $table-color1; }
	tr:nth-child(odd) { background: $table-color2; }
	tr:nth-child(even) { background: $table-color1; }

    &#result1 {
        font-size: 0.8em;
        tr:first-child {
            font-weight: bold;
        }
        .school {
            display: none;
        }
    }
}

#form_print {
	display: none;
}
